.header,
.header-wrapper {
    z-index: unset;
}

.nav>li>a.btn-default {
    position: relative;
    display: inline-block;
    background: #111111;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1em;
    text-transform: capitalize;
    border: none;
    padding: 17px 46px 17px 20px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    z-index: 0;
    letter-spacing: normal
}

.nav>li>a.btn-default:hover {
    background: #111111 !important;
}

.nav>li>a.btn-default:hover:after {
    content: none !important;
}

.nav>li>a.btn-default:after {
    content: none !important;
}